In [2]:
import pandas as pd

In [3]:
all_ages = pd.read_csv('./all-ages.csv')
recent_grads = pd.read_csv('./recent-grads.csv')

In [4]:
all_ages.loc[:2]

,Major_code,Major,Major_category,Total,Employed,Employed_full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th
0,1100,GENERAL AGRICULTURE,Agriculture & Natural Resources,128148,90245,74078,2423,0.026147,50000,34000,80000.0
1,1101,AGRICULTURE PRODUCTION AND MANAGEMENT,Agriculture & Natural Resources,95326,76865,64240,2266,0.028636,54000,36000,80000.0
2,1102,AGRICULTURAL ECONOMICS,Agriculture & Natural Resources,33955,26321,22810,821,0.030248,63000,40000,98000.0

# Dictionary Of K: Major Category V: Sum of Totals of that MC

## Method 1

In [5]:
aa_cat_counts = dict()
rg_cat_counts = dict()
maj_cat_list = all_ages['Major_category'].unique()
rg_cat_list = recent_grads['Major_category'].unique()

In [6]:
for i in maj_cat_list:
    bools = all_ages['Major_category'] == i
    listy = all_ages['Total'][bools]
    aa_cat_tot = listy.sum()
    aa_cat_counts[i] = aa_cat_tot
    
for i in rg_cat_list:
    bools2 = recent_grads['Major_category'] == i
    listy2 = recent_grads['Total'][bools2]
    rg_cat_tot = listy2.sum()
    rg_cat_counts[i] = rg_cat_tot

## Method 2

In [7]:
def calculate_major_cat_totals(df):
    cats = df['Major_category'].unique()
    counts_dictionary = dict()

    for c in cats:
        major_df = df[df["Major_category"] == c]
        total = major_df["Total"].sum()
        counts_dictionary[c] = total
    return counts_dictionary

In [8]:
rg_cat_counts = calculate_major_cat_totals(recent_grads)
aa_cat_counts = calculate_major_cat_totals(all_ages)

## Method 3

In [9]:
aa_cat_counts = all_ages.groupby('Major_category').sum()["Total"].to_dict()

In [10]:
aa_cat_counts

{'Agriculture & Natural Resources': 632437,
 'Arts': 1805865,
 'Biology & Life Science': 1338186,
 'Business': 9858741,
 'Communications & Journalism': 1803822,
 'Computers & Mathematics': 1781378,
 'Education': 4700118,
 'Engineering': 3576013,
 'Health': 2950859,
 'Humanities & Liberal Arts': 3738335,
 'Industrial Arts & Consumer Services': 1033798,
 'Interdisciplinary': 45199,
 'Law & Public Policy': 902926,
 'Physical Sciences': 1025318,
 'Psychology & Social Work': 1987278,
 'Social Science': 2654125}

In [19]:
rg_cat_counts = recent_grads.groupby('Major_category').sum()['Total'].to_dict()

In [20]:
rg_cat_counts

{'Agriculture & Natural Resources': 75620.0,
 'Arts': 357130.0,
 'Biology & Life Science': 453862.0,
 'Business': 1302376.0,
 'Communications & Journalism': 392601.0,
 'Computers & Mathematics': 299008.0,
 'Education': 559129.0,
 'Engineering': 537583.0,
 'Health': 463230.0,
 'Humanities & Liberal Arts': 713468.0,
 'Industrial Arts & Consumer Services': 229792.0,
 'Interdisciplinary': 12296.0,
 'Law & Public Policy': 179107.0,
 'Physical Sciences': 185479.0,
 'Psychology & Social Work': 481007.0,
 'Social Science': 529966.0}

    ---

Proportion of Grads working low wage jobs

In [14]:
low_wage_proportion = recent_grads['Low_wage_jobs'].sum()/recent_grads['Total'].sum()
low_wage_proportion

0.09858891195563152

rg_lower_count counts how many majors in rg vs aa have a lower unemployment rate

In [25]:
majors = recent_grads['Major'].unique()
rg_lower_count = 0
for i in majors:
    recent_bool = recent_grads['Major'] == i
    all_bool = all_ages['Major'] == i
    recent_maj = recent_grads['Unemployment_rate'][recent_bool].sum()
    all_maj = all_ages['Unemployment_rate'][all_bool].sum()
    if recent_maj < all_maj:
        rg_lower_count += 1

In [37]:
recent_row = recent_grads[recent_grads['Major'] == 'PETROLEUM ENGINEERING']
rg_rate = recent_row.iloc[0]['Unemployment_rate']
# recent_row.iloc converts the DF to a Series so that the float of the Unemployment Rate can be extracted

,Rank,Major_code,Major,Total,Men,Women,Major_category,ShareWomen,Sample_size,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,2339.0,2057.0,282.0,Engineering,0.120564,36,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193

In [28]:
# method 2
majors = recent_grads['Major'].unique()
rg_lower_count = 0
for m in majors:
    recent_grads_row = recent_grads[recent_grads['Major'] == m]
    all_ages_row = all_ages[all_ages['Major'] == m]
    
    rg_unemp_rate = recent_grads_row.iloc[0]['Unemployment_rate']
    aa_unemp_rate = all_ages_row.iloc[0]['Unemployment_rate']
    if rg_unemp_rate < aa_unemp_rate:
        rg_lower_count += 1
print(rg_lower_count)

44

It appears that less recent graduates who studied 44 of the 173 majors ended up having lower unemployment rates than the general population.